.saketa-logo{
    width:13.5em;
    height:4.2em;
    background-color: transparent;
}
.sub-title{
    margin:0;
    margin-top:2px;
}
.person-dp{
    border-radius: 100px;
    height: 3rem;
    width: 3rem;
}